/*
    Components
*/
.button {
    display: inline-block;
    height: 50px;
    font-family: $fonts-sans-alt;
    font-family: var(--fonts-sans-alt);
    line-height: 50px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
    border-color: $black;
    border-color: var(--black);
    border-radius: $bu;
    padding: 0 20px;
    transition: .3s ease;
    @media screen and (min-width: $bp--tablet-v) {
        height: 70px;
        line-height: 70px;
        padding: 0 30px;
    }
    &:hover {
        background-color: $black;
        background-color: var(--black);
        color: $white;
        color: var(--white);
    }
}
.intro {
    &__title {
        margin-top: 183px;
        margin-bottom: 19px;
        word-wrap: break-word;
        hyphens: auto;
        @media screen and (min-width: $bp--laptop) {
            margin-top: 221px;
        }
        &.red {
            color: $red;
            color: var(--red);
        }
        &.orange {
            color: $orange;
            color: var(--orange);
        }
        &.yellow {
            color: $yellow;
            color: var(--yellow);
        }
        &.green {
            color: $green;
            color: var(--green);
        }
        &.blue {
            color: $blue;
            color: var(--blue);
        }
        &.violet {
            color: $violet;
            color: var(--violet);
        }
        &.brown {
            color: $brown;
            color: var(--brown);
        }
        &.pink {
            color: $pink;
            color: var(--pink);
        }
        @include transition-active {
            transition: .4s ease;
        }
        @include transition {
            opacity: 0;
            transform: translateX(50px);
            @media screen and (min-width: $bp--tablet-v) {
                transform: translateX(100px);
            }
        }
    }
    &__text {
        margin-top: 0;
        margin-bottom: 53px;
        @media screen and (min-width: $bp--laptop) {
            margin-bottom: 120px;
        }
        @include transition-active {
            transition: .4s ease .1s;
        }
        @include transition {
            opacity: 0;
            transform: translateX(50px);
            @media screen and (min-width: $bp--tablet-v) {
                transform: translateX(100px);
            }
        }
    }
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
        display: inline-block;
        margin-right: 0;
        @media screen and (min-width: $bp--tablet-v) {
            margin-right: 30px;
        }
    }
    &__link {
        text-decoration: none;
        margin-left: 15px;
        @media screen and (min-width: $bp--tablet-v) {
            margin-left: 0;
        }
        @media screen and (min-width: $bp--tablet-h) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: ease 0.5s;
}
