/*
    Components
*/
.page-enter-active, .page-leave-active,
.layout-enter-active, .layout-leave-active {
    transition: opacity .3s ease-in;
}
.page-enter, .page-leave-to,
.layout-enter, .layout-leave-active {
    opacity: 0;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: $white;
    background: var(--white);
    z-index: 999;
    &__wrap {
      height: 70px;
      align-items: center;
    }
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    &__item {
        display: inline-block;
        margin-right: 30px;
    }
    &__link {
        text-decoration: none;
    }
}
.intro {
    &__title {
        margin-top: 221px;
        margin-bottom: 14px;
        &.red {
            color: $red;
            color: var(--red);
        }
        &.orange {
            color: $orange;
            color: var(--orange);
        }
        &.yellow {
            color: $yellow;
            color: var(--yellow);
        }
        &.green {
            color: $green;
            color: var(--green);
        }
        &.blue {
            color: $blue;
            color: var(--blue);
        }
        &.violet {
            color: $violet;
            color: var(--violet);
        }
        &.brown {
            color: $brown;
            color: var(--brown);
        }
        &.pink {
            color: $pink;
            color: var(--pink);
        }
    }
    &__text {
        margin-top: 0;
        margin-bottom: 120px;
    }
}