@font-face {
    font-family: 'Andika';
    src: url('Andika-Regular.eot');
    src: url('Andika-Regular.eot?#iefix') format('embedded-opentype'),
        url('Andika-Regular.woff2') format('woff2'),
        url('Andika-Regular.woff') format('woff'),
        url('Andika-Regular.ttf') format('truetype'),
        url('Andika-Regular.svg#Andika-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

